.Form {
  margin: 15px auto;
  width: 25rem;
  height: 15rem;
  background-color: purple;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.Form > h2 {
  margin-bottom: 15px;
}
.Form > input {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 15px;
  outline: none;
  font-weight: bold;
  color: #444;
}

.Form > button {
  margin-top: 15px;
  cursor: pointer;
  padding: 10px 2.5rem;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  color: #444;
  font-weight: bold;
}
